<div class="projects">
	<%= render @projects %>
</div>

<% @project = Project.new %>

<%= form_for(@project, remote: true) do |f| %>
    <%= f.submit 'Add TODO List', class: "add_project" %>
<% end %>