body {
  background: url("background.jpg") no-repeat center center fixed;

  -webkit-background-size: cover; /*Used by Safari & Chrome*/
  -moz-background-size: cover; /* Used by Firefox */
  -o-background-size: cover; /* Used by Opera */
  background-size: cover; /* All Modern Browsers */
  /*
  background-image: image-url("background.jpg");

  //background-repeat: no-repeat;
  //background-position: top left;
  //background-attachment: fixed;
  //width: 100%;
  //min-height: 100%;

  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;  */
}

/************************** title **********************/
div#title {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  position: relative;
  top: 50px;
}

div#title h1 {
  font-family: Helvetica-Bold Helvetica;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0px;
  text-shadow: 0px 1px 1px white;
}

div#title h2 {
  font-family: Helvetica-Bold Helvetica;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-top: 0px;
  text-shadow: 0px 1px 1px white;
}
/******************************list*****************************/
div.project {
  position: relative;
  margin-top: 50px;
}
/***************************** project ************************/
div.project_show {
  position: relative;
  width: 700px;
  cursor: pointer;
  /*min-height: 50px;
  height: 50px;*/
  z-index: 999;

  display: block;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #315589;
  outline: 1px solid #90ABD5;
  outline-offset: -2px;

  background: #5183be; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #5183be 1%, #375d9e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#5183be), color-stop(100%,#375d9e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #5183be 1%,#375d9e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #5183be 1%,#375d9e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #5183be 1%,#375d9e 100%); /* IE10+ */
  background: linear-gradient(45deg,  #5183be 1%,#375d9e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5183be', endColorstr='#375d9e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
div.project_folder {
  background-image: url(project/project_folder.png);
  /*background-position: top left no-repeat;*/
  position: relative;
  float: left;
  top: 13px;
  left: 13px;
  width: 24px;
  height: 23px;
}

div.project_text {
  /*position: relative;
  float: left;
  top: 15px;
  left: 20px;*/
  margin-top: 15px;
  margin-left: 50px;
  margin-bottom: 15px;
  width: 550px;

  font-family: Arial;
  font-size: 18;
  color: white;
}

div.project_right {
  visibility: hidden;
  position: relative;
  float: right;
  width: 80px;
  height: 20px;
  padding-top: 17px;
}

div.project_show:hover .project_right{
  visibility: visible;
}

.project_edit {
  background-image: url(project/project_edit.png);
  /*background-position: top left no-repeat;*/
  position: relative;
  float: left;
  /*top: 13px;*/
  left: 1px;
  width: 15px;
  height: 15px;
}

.project_edit:hover {
  transform: scale(1.5,1.5);
  -ms-transform: scale(1.5,1.5); /* IE 9 */
  -webkit-transform: scale(1.5,1.5); /* Safari and Chrome */
}

.project_delete:hover {
  transform: scale(1.5,1.5);
  -ms-transform: scale(1.5,1.5); /* IE 9 */
  -webkit-transform: scale(1.5,1.5); /* Safari and Chrome */
}

.task_edit:hover {
  transform: scale(1.5,1.5);
  -ms-transform: scale(1.5,1.5); /* IE 9 */
  -webkit-transform: scale(1.5,1.5); /* Safari and Chrome */
}

.task_delete:hover {
  transform: scale(1.5,1.5);
  -ms-transform: scale(1.5,1.5); /* IE 9 */
  -webkit-transform: scale(1.5,1.5); /* Safari and Chrome */
}

div.project_separator {
  background-image: url(project/project_separator.png);
  /*background-position: top left no-repeat;*/
  position: relative;
  float: left;
  /*top: 13px;*/
  left: 12px;
  width: 2px;
  height: 16px;
}

div.project_delete {
  background-image: url(project/project_delete.png);
  /*background-position: top left no-repeat;*/
  position: relative;
  float: left;
  /*top: 13px;*/
  left: 23px;
  width: 16px;
  height: 16px;
}

div.project_plus {
  background-image: url(project/project_plus.png);
  background-position: top left no-repeat;
  position: relative;
  float: left;
  top: 13px;
  left: 13px;
  width: 24px;
  height: 24px;
}

div.project_input {
  position: relative;
  float: left;
  left: 25px;
  top: 12px;
}

input[type="text"].project_input {

  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  padding-right: 0px;
  width: 535px;
  height: 24px;
  text-indent: 10px;

  /*box-shadow: 0px 1px 1px black; /* Параметры тени */
}
div.project_button {
  position: relative;
  float: left;
  left: 25px;
  top: 12px;
}

input[type="submit"].project_button   {
  border: 1px solid #364A70;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 0px 5px 5px 0px;

  margin: 0px;
  padding: 0px;

  font-family: Arial;
  text-shadow: 1px 1px 1px black;

  background: #98B0D2;
}

input[type="submit"].project_button:hover {
  color: black;
  text-shadow: 1px 1px 1px white;
}

input[type="submit"].project_button:active {

  background: #96cdb0; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #96cdb0 0%, #4d8464 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#96cdb0), color-stop(100%,#4d8464)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #96cdb0 0%,#4d8464 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #96cdb0 0%,#4d8464 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #96cdb0 0%,#4d8464 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #96cdb0 0%,#4d8464 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96cdb0', endColorstr='#4d8464',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.add_project {
  font-family: "Times New Roman", Arial;
  font-size: 18px;
  color: white;

  position: relative;
  width: 210px;
  height: 46px;
  z-index: 999;

  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #315589;
  outline: 1px solid #90ABD5;
  outline-offset: -2px;



  background: #4572AF; /* Old browsers */
  //background: -moz-linear-gradient(45deg,  #5183be 1%, #375d9e 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#5183be), color-stop(100%,#375d9e)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(45deg,  #5183be 1%,#375d9e 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(45deg,  #5183be 1%,#375d9e 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(45deg,  #5183be 1%,#375d9e 100%); /* IE10+ */
  //background: linear-gradient(45deg,  #5183be 1%,#375d9e 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5183be', endColorstr='#375d9e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  background-image: url(project/project_plus.png);
  background-position-x: 5%;
  background-position-y: 50%;
  background-repeat: no-repeat;

}

.add_project:hover {
  -webkit-box-shadow: 0 0 9px #333;
  cursor: pointer;
}

div.add_task {
  position: relative;
  width: 700px;
  height: 50px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #B2B2A2;

  background: #e1e1e1; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #e1e1e1 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e1e1e1), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #e1e1e1 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #e1e1e1 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #e1e1e1 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(45deg,  #e1e1e1 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

div.task_plus {
  background-image: url(task/task_plus.png);
  background-position: top left no-repeat;
  position: relative;
  float: left;
  top: 13px;
  left: 13px;
  width: 24px;
  height: 24px;
}

div.task_input {
  position: relative;
  float: left;
  left: 25px;
  top: 12px;
}

input[type="text"].task_input {
  width: 535px;
  height: 24px;
  text-indent: 10px;

  /*box-shadow: 0px 1px 1px black; /* Параметры тени */
}
div.task_button {
  position: relative;
  float: left;
  left: 25px;
  top: 12px;
}

div.task_button input[type="submit"]  {
  border: 1px solid #447557;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 0px 5px 5px 0px;

  font-family: Arial;
  text-shadow: 1px 1px 1px black;

  background: #96cdb0; /* Old browsers */
  background: -moz-linear-gradient(top,  #96cdb0 0%, #4d8464 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96cdb0), color-stop(100%,#4d8464)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #96cdb0 0%,#4d8464 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #96cdb0 0%,#4d8464 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #96cdb0 0%,#4d8464 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #96cdb0 0%,#4d8464 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96cdb0', endColorstr='#4d8464',GradientType=0 ); /* IE6-9 */

}

div.task_button input[type="submit"]:hover {
  color: black;
  text-shadow: 1px 1px 1px white;
}

div.task_button input[type="submit"]:active {

  background: #96cdb0; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #96cdb0 0%, #4d8464 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#96cdb0), color-stop(100%,#4d8464)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #96cdb0 0%,#4d8464 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #96cdb0 0%,#4d8464 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #96cdb0 0%,#4d8464 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #96cdb0 0%,#4d8464 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96cdb0', endColorstr='#4d8464',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

div.tasks {
  position: relative;
  width: 700px;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #E7EBEA;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.task {
  border-top: 1px solid #E7EBEA;
}

div.task:hover {
  background-color: #FCFED5;
}

div.task:last-of-type:hover {
  background-color: #FCFED5;
  border-radius: 0px 0px 20px 20px;
}

div.task:hover .task_right {
  visibility: visible;
}

div.task_text {
  margin-top: 15px;
  margin-left: 50px;
  /*margin-bottom: 15px;  */
  padding-bottom: 15px;
  width: 550px;
  color: grey;
  font-weight: bold;

  font-family: Arial;
  font-size:13px;


}

div.task_check {
  position: relative;
  float:left;
  top: 13px;
  left: 15px;
}

div.task_right {
  visibility: hidden;
  position: relative;
  float: right;
  width: 80px;
  height: 20px;
  padding-top: 17px;
}

.task_edit {
  background-image: url(task/task_edit.png);
  /*background-position: top left no-repeat;*/
  position: relative;
  float: left;
  /*top: 13px;*/
  left: 1px;
  width: 12px;
  height: 12px;
}

div.task_separator {
  background-image: url(task/task_separ.png);
  /*background-position: top left no-repeat;*/
  position: relative;
  float: left;
  /*top: 13px;*/
  left: 12px;
  width: 2px;
  height: 14px;
}

div.task_delete {
  background-image: url(task/task_delete.png);
  /*background-position: top left no-repeat;*/
  position: relative;
  float: left;
  /*top: 13px;*/
  left: 23px;
  width: 12px;
  height: 12px;
}







div.line {
  width: 0px; /* Use only border style */
  height: 100%;
  float: left;
  border: 1px inset; /* This is default border style for <hr> tag */
  /*position: relative;
  float: left;
  left: 25px;
  margin-left: 25px;
  border-left: 1px solid red;
  height: 100%;*/
}



.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
